/* src/index.css */
html {
  scroll-behavior: smooth; /* Havolalarni silliq aylantirish */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #0f172a;
  overflow-x: hidden;
}